@using Figurkoder.Application.Queries;
@using Microsoft.AspNetCore.WebUtilities;
@using System.Linq;
@using Figurkoder.WebApp.Pages.Game.Play.Components;
@using static Figurkoder.WebApp.Pages.Game.Play.Components.Game

@page "/game/{gameId}/play"
@inject IMnemonicQueries MnemonicQueries
@inject NavigationManager NavigationManager

@if (mnemonic is null)
{
    <p>Loading game...</p>
}
else @if (result is not null)
{
    <Result
        Title=@mnemonic.Title
        Results=@result
        Average=@average
        OnPlayAgain=@OnPlayAgainHandler />
}
else
{
    <Game 
        Mnemonic=@mnemonic
        Practice=@Practice
        OnGameFinished=@OnGameFinishedHandler />
}

@code {
    [Parameter]
    public string GameId { get; set; } = null!;
    
    [Parameter]
    [SupplyParameterFromQuery]
    public string? From { get; set; }

    [Parameter]
    [SupplyParameterFromQuery]
    public string? To { get; set; }

    [Parameter]
    [SupplyParameterFromQuery]
    public bool Practice { get; set; }

    private Figurkoder.Domain.Flashcard[] originalFlashcards = Array.Empty<Figurkoder.Domain.Flashcard>();
    private Figurkoder.Domain.Mnemonic? mnemonic;

    private Figurkoder.Domain.Result[]? result;
    private TimeSpan? average = null;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        var originalMnemonic = await MnemonicQueries.GetMnemonicAsync(GameId);

        if (originalMnemonic is null || From is null || To is null)
        {
            NavigationManager.NavigateTo("/");

            return;
        }

        var keys = originalMnemonic.Pairs.Select(x => x.Key).ToArray();

        var range = Array.IndexOf(keys, From)..(Array.IndexOf(keys, To) + 1);

        originalFlashcards = originalMnemonic.Pairs[range];

        mnemonic = originalMnemonic with { Pairs = originalFlashcards };
    }

    private void OnGameFinishedHandler(GameFinished game)
    {
        result = game.Results;
        average = game.Average;
    }

    private void OnPlayAgainHandler(Figurkoder.Domain.Flashcard[]? flashcards)
    {
        result = null;
        average = null;

        if (mnemonic is not null)
        {
            mnemonic = mnemonic with
            {
                Pairs = flashcards switch
                {
                    not null => flashcards,
                    _ => originalFlashcards,
                }
            };
        }
    }
}
