@using Figurkoder.Domain

<h3>@Title</h3>
<table>
    <thead>
        <tr>
            <th>Figurkod</th>
            <th>Tid</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var (flashcard, time) in Results)
        {
            <tr>
                <th>@flashcard.Key</th>
                @if (time.HasValue)
                {
                    <th>@time.Value.ToString(@"%s\.f") sek</th>
            }
                else
                {
                    <th>-</th>
                }
            </tr>
        }
        <tr>
            <th>Genomsnittlig tid:</th>
            <th>@Average.ToString(@"%s\.f") sek</th>
        </tr>
    </tbody>
</table>
<button
    class="btn btn-primary"
    @onclick=@RestartAll
    >Starta om</button>
<button
    class="btn btn-primary"
    @onclick=@RestartOver2Sec
    >Repetera >2 sek</button>

@code {
    [Parameter]
    public Figurkoder.Domain.Result[] Results { get; set; } = null!;

    [Parameter]
    public string Title { get; set; } = null!;

    [Parameter]
    public TimeSpan Average { get; set; }

    [Parameter]
    public EventCallback<Flashcard[]?> OnPlayAgain { get; set; }

    private async Task RestartAll() => await OnPlayAgain.InvokeAsync();

    private async Task RestartOver2Sec() =>
        await OnPlayAgain.InvokeAsync(
            Results
                .Where(x => x.Time.GetValueOrDefault().TotalSeconds > 2)
                .Select(x => x.Flashcard)
                .ToArray());
}
