@using Figurkoder.Application.Queries;

@page "/"
@inject IMnemonicQueries MnemonicQueries

@if (mnemonicInfos is null)
{
    <p>Loading...</p>
}
else
{
  <CardWithBackground Title="Spel" Description="Välj nedan för att börja öva." Footer=@true>
    <div class="grid grid-cols-4 gap-8 mt-10 sm:grid-cols-8 lg:grid-cols-12 sm:px-8 xl:px-0">

        @foreach (var mnemonicInfo in mnemonicInfos)
        {
            <NavLink class="relative flex flex-col items-center justify-between col-span-4 px-8 py-12 space-y-4 overflow-hidden bg-gray-100 sm:rounded-xl" href="@Url(mnemonicInfo.Id)">
                <h4 class="text-xl font-medium text-gray-700">@mnemonicInfo.Title</h4>
                <p class="text-base text-center text-gray-500">@mnemonicInfo.First - @mnemonicInfo.Last</p>
            </NavLink>
        }

    </div>
  </CardWithBackground>
}

@code {
    private ICollection<Figurkoder.Domain.MnemonicInfo>? mnemonicInfos;

    protected override async Task OnInitializedAsync()
    {
        mnemonicInfos = await MnemonicQueries.GetMnemonicsInfoAsync();
    }

    private static string Url(string id) => $"game/{id.ToLower()}/settings";
}
