@inherits LayoutComponentBase

<body class="flex flex-col min-h-screen">
    <header class="bg-gray-100">
        <NavMenu />
    </header>

    <main class="bg-gray-100 flex-grow">
        <div class="content px-4">
            @Body
        </div>
    </main>

    <footer class="bg-white">
        <Footer />
    </footer>
</body>
